<!doctype html>
<html class=no-js ng-app=vkchat>
    <head>
        <meta charset=utf-8>
        <title ng-bind=title>VKChat</title>
        <link rel="stylesheet" href="http://yastatic.net/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container-fluid">
            <div ng-controller="TokenCtrl">
                <form>
                    <input class="form-control" name="access_token" ng-model="access_token">
                    <button class="btn" ng-click="saveToken(access_token)">Save</button>
                </form>
            </div>
            <div ng-view></div>
        </div>
    </body>
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/vk.js"></script>
    <script src="js/decorator.js"></script>
    <script src="js/app.js"></script>
</html>
